---
// src/pages/news/index.astro
import Base from "../../layouts/BaseLayout.astro";
import Section from "../../components/Section.astro";
---
<Base title="お知らせ｜沖縄ポーカー連盟">
  <Section title="最新情報" lead="サイト更新やイベント告知等。">
    <ul>
      <li>2025/10/18 サイト公開のご挨拶</li>
    </ul>
  </Section>
</Base>