---
// src/pages/sponsors/index.astro
import Base from "../../layouts/BaseLayout.astro";
import Section from "../../components/Section.astro";
---
<Base title="スポンサー｜沖縄ポーカー連盟">
  <Section title="スポンサー募集" lead="地域のポーカーカルチャーを共に育てるパートナーを募集しています。">
    <p>掲載枠・料金・ガイドライン等はお問い合わせください。</p>
    <p><a class="btn" href="/contact">問い合わせる</a></p>
  </Section>
</Base>